<li>
    <a href="#">
        <img src="assets/img/{{ room.img }}" alt="" title="" class="property_img"/>
    </a>
    <span class="price">${{ room.price }}</span>
    <div class="property_details">
        <h1>
            <a href="{{ room.href }}">Fuisque dictum tortor at purus libero</a>
        </h1>
        <h2>{{ room.description }} <span class="property_size">({{ room.size }}ftsq)</span></h2>
    </div>
</li>
